/****
  Holt Racing Main CSS File
  Author: Aurora Widawati
  Date Created: 15/05/2020
  Date Modified: 15/05/2020
*****/

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  position: relative;
  font: 1.2rem/1.5 var(--normalfont);
}


/* Defines accent colours & fonts for website */
:root {
  --holtracing:rgba(92,159,167,1);
  --holtracingbg:rgba(244,244,244,1);
  --holtracinggrey:rgba(54,53,49,1);
  --holtracingblack: 11,11,11;
  --holtracingwhite: 244,244,244;
  --headerfont:'Montserrat', sans-serif;
  --normalfont:'Roboto', sans-serif;
}

.navbar-light {
  background:var(--holtracingbg);
  color:rgba(var(--holtracingblack),1)
}

/* Navbar customisation */
.nav-link {
    color:var(--holtracing);
}

.navbar-collapse a:hover {
  color:var(--holtracing);
}

/***** HEADER CUSTOMISATION *****/
#home {
  height: 100vh;
  background-image:url('../img/schematic.png');
  background-position: 50% 70%;
  background-attachment: fixed;
  background-size: cover;
  padding: 20vh 10vw 20vh 10vw;
  margin-top: 0;
  margin-bottom: 0;
}


#home img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 25vh;
  margin-bottom: 5vh;
}

/* Site main info */
.holtracingmaininfo heading {
  font-family: var(--headerfont);
  font-size: 10vh;
  color:var(--holtracing);
  text-align: center;
  display: block;
  font-weight: 700;
}
.holtracingmaininfo {
  background:rgba(244,244,244,0.8);
  color:(var(--holtracingblack),1!important);
  font-size: 3vh;
  width: 80vw;
  padding: 5vw;
  text-align: center;
  font-family: var(--normalfont);
  outline: 1px solid var(--holtracing);
}

/* Header responsiveness */
@media (max-width:500px) {
  .holtracingmaininfo heading {
    font-size: 6vh;
  }
  .holtracingmaininfo {
    font-size: 2vh;
    margin-top:5vh;
  }
}

/* Company introduction jumbotron */
#intro {
  width: 100vw;
  padding: 10vh;
  background:var(--holtracingbg);
}

#intro p {
  color:rgba(var(--holtracingblack),1);
  font-family:var(--mainfont);
  font-size: 20px;
  text-align: justify;
}

#intro img {
  width: 14vw;
  float: left;
}

#intro heading {
  font-family: var(--headerfont);
  font-size: 4rem;
  color:var(--holtracing);
  text-align: center;
  display: block;
  font-weight: 700;
  margin-top: 0vw;
  margin-bottom: 3.5vh;
}

@media (max-width:500px) {
  #intro img {
    width: 70vw;
    margin-bottom: 3.5vh;
  }

  #intro p {
    font-size: 14px;
  }

  #intro heading {
    font-size: 5vh;
  }
}

/* Products & Carousel */
#products {
  background:var(--holtracinggrey);
  padding: 10vw;
  font-family:var(--mainfont);
  color:var(--holtracingbg)
}

#products heading {
  font-family: var(--headerfont);
  font-size: 4rem;
  color:var(--holtracing);

  text-align: center;
  display: block;
  font-weight: 700;
  margin-top: 0vw;
  margin-bottom: 3.5vh;
}

.btn-primary {
  background: var(--holtracing);
  border: 1px solid var(--holtracing);
}

.card-img-top {
  width: 286px;
  height: 180px;
  text-align: center;
}

.productslist {
  padding: 2vw;
}

.productsandserviceslist {
  padding: 2vw;
}

@media (max-width:767px) {
  .productsmarquee {
    display: none;
  }
}

@media (min-width:767px) {
  .productsandserviceslist {
    display: none;
  }
}

/* Contact Us bit */
#contact {
  background:var(--holtracing);
  color:var(--holtracingbg);
  font-family: var(--mainfont);
  padding: 10vw;
  text-align: center;
}

#contact heading {
  font-family: var(--headerfont);
  font-size: 8vh;
  color:var(--holtracingbg);

  text-align: center;
  display: block;
  font-weight: 700;
  margin-top: 0vw;
  margin-bottom: 3.5vh;
}

.mediaicons a {
  color:var(--holtracing);
  text-decoration:none;
  -moz-transition:0.5s all ease-in-out;
  -webkit-transition:0.5s all ease-in-out;
  transition:0.5s all ease-in-out;
  -o-transition:0.5s all ease-in-out;
}

.mediaicons:hover a {
  color:var(--holtracingbg);
  text-decoration:none;
  -moz-transition:0.5s all ease-in-out;
  -webkit-transition:0.5s all ease-in-out;
  transition:0.5s all ease-in-out;
  -o-transition:0.5s all ease-in-out;
}

.mediaicons:hover {
  background:var(--holtracing);
  -moz-transition:0.5s all ease-in-out;
  -webkit-transition:0.5s all ease-in-out;
  transition:0.5s all ease-in-out;
  -o-transition:0.5s all ease-in-out;
}

.mediaicons {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -o-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -moz-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: var(--holtracingbg);
  text-align: center;
  justify-content: center;
  padding: 4vw;
  width: 12vw;
  height: 12vw;
  font-size: 4vw;
  color:var(--holtracing);
  -moz-transition:0.5s all ease-in-out;
  -webkit-transition:0.5s all ease-in-out;
  transition:0.5s all ease-in-out;
  -o-transition:0.5s all ease-in-out;
}

@media (max-width:500px) {
  .mediaicons {
    padding: 10vw;
    width: 70vw;
    height: 70vw;
    font-size: 40vw;
    margin-bottom: 5vh;
  }
}
